<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Profile <span> Badges</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">  
  
    <ion-item button lines="none">
      <ion-avatar slot="start">
        <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mN8/R8AAtsB7JKxzdUAAAAASUVORK5CYII=">
      </ion-avatar>
      <ion-label>
        Habib AlMawali
        <p>Grade 11</p>
      </ion-label>
    </ion-item>
    
    <h4 class="p-4">Achievements <span class="fr link">See all</span></h4>
    
  
    <ion-item button lines="none" class="badge-item">
      <ion-avatar slot="start" class="night">
        <img src="assets/icon/clock.svg">
      </ion-avatar>
      <ion-label>
        Punctual
        <p>You have not missed a single lesson.</p>
      </ion-label>
    </ion-item>
    <ion-item button lines="none" class="badge-item">
      <ion-avatar slot="start" class="night">
        <img src="assets/icon/star.svg">
      </ion-avatar>
      <ion-label>
        Excellent Presentation
        <p>You have done great presentation.</p>
      </ion-label>
    </ion-item>
    <ion-item button lines="none" class="badge-item">
      <ion-avatar slot="start" class="night">
        <img src="assets/icon/profits.svg">
      </ion-avatar>
      <ion-label>
        Growing 
        <p>You have being growing quickly.</p>
      </ion-label>
    </ion-item>
  
    </div>

</ion-content>
