<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon icon="assets/icon/home.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="page2">
      <ion-icon name="time-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="page3">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="page4">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>