


.large-icon {
    font-size: 40px;
}

.no-pointer {
    pointer-events: none;
}

.p-4 {
    padding: 0 4px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.link {
    font-size: 14px;
}

.title-space {
    padding-bottom: 40px;
}

ion-card {
    margin: 4px;
    box-shadow: none;
    border-radius: 16px;
}

ion-grid, ion-col {
    padding: 0;
}

.title {
    ion-icon {
        font-size: 20px;
        color: #333;
        background-color: #fff;
        padding: 4px;
        border: 1px solid white;
        border-radius: 8px;
        margin-right: 14px;
        margin-top: 6px;
    }

    p {
        font-size: 16px;
        line-height: 20px;
    }

    h2 {
        font-size: 34px;
        font-weight: bold;
        margin-top: 14px ;
    }

    .mb {
        padding-bottom: 8px;
    }

}


